@import url("https://blokkfontcom-losgordos.netdna-ssl.com/v2/blokkfont.css");

body {
  margin: 0;
  padding: 0;
}

.blokk {
  font-family: "BLOKK";
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
