html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  font-size: 14px;
}

body {
  padding: 2em;
}

p {
  font-size: 1.125rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
